* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(15, 192, 246);
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
.header-wrapper {
    border: 1px solid rgb(255, 0, 0);
}
.header-text {
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    margin: 30px auto;
}
.textual-explanation p:first-child {
    color: yellow;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.textual-explanation p:nth-child(2) {
    color: rgb(8, 97, 0);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}
.textual-explanation p:last-child {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.input-container {
    display: flex;
    justify-content: space-between;
}
.input-text {
    width: 100%;
    height: 30px;
    border: 2px solid rgb(0, 128, 233);
    border-radius: 5px;
    margin: 2px;
}
.input-text input {
}
.botton {
    width: 50px;
}
.card-wrapper {
}
.message {
}
