* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: rgb(70, 159, 189);
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.header-text {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
}
.textual-explanation p:first-child {
    color: yellow;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
.textual-explanation p:nth-child(2) {
    color: rgb(8, 97, 0);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
.textual-explanation p:last-child {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.input-container {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    padding: 5px;
}
#text {
    width: 100%;
    height: 35px;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
#text:focus {
    border-radius: 5px;
    border: 1px solid#29B0D9;
    padding-left: 5px;
}
#add {
    border: 2px solid #285d6f;
    border-radius: 5px;
    width: 45px;
    background: url("./img/add.png") center no-repeat;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#add:hover {
    border: 2px solid #122931;
    border-radius: 5px;
}

#cards {
    margin: 15px 50px;
}
.message {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 2px solid #215f74;
    border-radius: 5px;
    margin: 0px 60px 15px;
    background-color: rgb(106, 183, 201);
    align-items: center;
    padding: 0 30px 0 30px;
}
.message h3 {
    color: white;
    font-size: 30px;
    overflow-x: auto;
}
.close {
    margin: 0;
    padding: 0 5px;
    border: 1px solid #6ab7c9;
    background-color: #6ab7c9;
    color: #285d6f;
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
}
.close:hover {
    border: 1px solid #285d6f;
    border-radius: 5px;
}

/*=================================*/

@media (max-width: 500px) {
    .container {
        width: 100%;
        text-align: center;
    }

    .input-container {
        display: block;
        margin: 0px 10px;
    }

    #add {
        display: block;
        background: url("./img/add.png") center no-repeat;
        border: 2px solid #285d6f;
        border-radius: 5px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin: 15px auto;
    }
    #cards {
        margin: 5px 10px;
        padding: 0px;
    }

    .message {
        display: flex;
        justify-content: space-between;
        border: 2px solid #215f74;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 0;
        background-color: rgb(106, 183, 201);
        overflow: auto;
    }
    .message h3 {
        margin: 0px;
        color: white;
        font-size: 24px;
        margin: 5px;
    }
    .close {
        margin: 0px 5px;
        padding: 0px 5px 0px;
        border: 1px solid #6ab7c9;
        background-color: #6ab7c9;
        color: #285d6f;
        font-weight: 900;
        font-size: 20px;
        cursor: pointer;
    }
    .close:hover {
        border: 1px solid #285d6f;
        border-radius: 5px;
    }
}
@media (max-width: 320px) {
    body {
        margin: 0;
    }
}
